@font-face {
    font-family: Lemon;
    src: url('../Font/LemonMilklight.otf') ;
}
@font-face {
    font-family: Roboto;
    src: url('../Font/Roboto-thin.ttf') ;
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: Ayround;
    src: url('../Font/ARLRDBD.ttf') ;
}
@font-face {
    font-family: agencyr;
    src: url('../Font/AGENCYR.ttf') ;
}
@font-face {
    font-family: zab;
    src: url('../Font/zab.ttf') ;
}
@font-face {
    font-family: Montserrat;
    src: url('../Font/Montserrat-bold.ttf') ;    
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: Montserratr;
    src: url('../Font/Montserrat-medium.ttf') ;
    font-style: normal;
    font-weight: 100;
}


*{
	font-family: Montserratr;
}


/*Login & Sign up*/
.landing-body{
	background: url("../images/Landing/Landing_bg.png") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-family: Montserrat;
	font-weight: 600;
}

/*#f36523*/
/*body{
    font-family: Lemon !important;
}*/

.login-container{
	position: absolute;
  left: 50%;
  top: 50%;
  padding-top: 20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	text-align: center;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.login-container:before {
	content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 20000px rgba(128, 127, 127, 0.7);
  filter: blur(10px);
  margin: -20px;
}

.login-container img {
 width: 50%;
}
.login-container .landing-input input{
	width: 80%;
	height: 40px;
	margin-top: 16px;
	padding-left: 12px;
	padding-right: 12px;
	line-height:40px;
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	color: #FFFFFF;
}

.login-container .landing-input input::placeholder{
	color: rgba(255, 255, 255, 0.3);
}
.login-container form {
	margin-top: 0px;
}


.login-container .log-text{
	margin-top: 22px;
	margin-right: 5%;
	text-align: right;
}

.login-container .log-text a{
	color: #E8E8E8;
	text-decoration: none;
	font-size: 12px;
	font-style: normal;
	font-family: Montserratr;
	transition: .3s;
}

.login-container .log-text a:hover{
	color: #A1863D;
}

.login-container form #log-submit{
	width: 90%;
	height: 40px;
	border-radius: 2px;
	border: none;
	margin-top: 48px;
	margin-bottom: 30px;;
	background-color: #517F7D;
	color: #E8E8E8;
	font-family: Montserratr;
}

.login-container form #log-submit{
	width: 90%;
	height: 40px;
	border-radius: 2px;
	border: none;
	margin-top: 38px;
	margin-bottom: 80px;;
	background-color: #517F7D;
	color: #E8E8E8;
	font-family: Montserratr;
}

.login-container form #log-submit:hover{
	cursor: pointer;
}

/*Logout*/

.login-container .logout-input{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 40px;
	margin-top: 16px;
	margin-left: 5%;
	line-height:40px;
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	color: #FFFFFF;
}



@media screen and (max-width: 1050px){
	
}

@media screen and (max-width: 1000px){
	
}

@media screen and (max-width: 900px){
	
}
